* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content-map {
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 670px;
  z-index: 1;
  & .img-mapa {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .content-r1 {
    position: absolute;
    left: 52.8%;
    top: 22%;
    & img {
      height: 25px;
      width: 25px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup1 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup1 {
      display: block;
    }
  }
  
  & .content-r2 {
    position: absolute;
    left: 87.8%;
    top: 54%;
    & img {
      height: 25px;
      width: 25px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup2 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: 12px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup2 {
      display: block;
    }
  }

  & .content-r3 {
    position: absolute;
    left: 91.8%;
    top: 55%;
    & img {
      height: 25px;
      width: 25px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup3 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: 12px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup3 {
      display: block;
    }
  }

  & .content-r4 {
    position: absolute;
    left: 83.8%;
    top: 47%;
    & img {
      height: 25px;
      width: 25px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup4 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: 12px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup4 {
      display: block;
    }
  }

  & .content-r5 {
    position: absolute;
    left: 40.8%;
    top: 13%;
    & img {
      height: 25px;
      width: 25px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup5 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup5 {
      display: block;
    }
  }

  & .content-sc1 {
    position: absolute;
    left: 92.8%;
    top: 48%;
    & img {
      height: 10px;
      width: 10px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
  }

  & .content-sc2 {
    position: absolute;
    left: 94.8%;
    top: 50%;
    & img {
      height: 10px;
      width: 10px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
  }

  & .content-rs1 {
    position: absolute;
    left: 23.8%;
    top: 13%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs1 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs1 {
      display: block;
    }
  }

  & .content-rs2 {
    position: absolute;
    left: 40.8%;
    top: 26%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs2 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs2 {
      display: block;
    }
  }

  & .content-rs3 {
    position: absolute;
    left: 33%;
    top: 20%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs3 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs3 {
      display: block;
    }
  }

  & .content-rs4 {
    position: absolute;
    left: 33%;
    top: 38%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs4 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs4 {
      display: block;
    }
  }

  & .content-rs5 {
    position: absolute;
    left: 48%;
    top: 22%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs5 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs5 {
      display: block;
    }
  }

  & .content-rs6 {
    position: absolute;
    left: 47%;
    top: 40%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs6 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs6 {
      display: block;
    }
  }

  & .content-rs7 {
    position: absolute;
    left: 41%;
    top: 47%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs7 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs7 {
      display: block;
    }
  }

  & .content-rs8 {
    position: absolute;
    left: 53%;
    top: 38%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs8 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs8 {
      display: block;
    }
  }

  & .content-rs9 {
    position: absolute;
    left: 59%;
    top: 35%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs9 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs9 {
      display: block;
    }
  }

  & .content-rs10 {
    position: absolute;
    left: 64%;
    top: 47%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs10 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs10 {
      display: block;
    }
  }

  & .content-rs11 {
    position: absolute;
    left: 54%;
    top: 52%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs11 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs11 {
      display: block;
    }
  }

  & .content-rs12 {
    position: absolute;
    left: 58%;
    top: 25%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs12 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs12 {
      display: block;
    }
  }

  & .content-rs13 {
    position: absolute;
    left: 62%;
    top: 31%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs13 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs13 {
      display: block;
    }
  }

  & .content-rs14 {
    position: absolute;
    left: 65%;
    top: 26%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs14 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs14 {
      display: block;
    }
  }

  & .content-rs15 {
    position: absolute;
    left: 68%;
    top: 36%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs15 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs15 {
      display: block;
    }
  }

  & .content-rs16 {
    position: absolute;
    left: 72%;
    top: 33%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs16 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs16 {
      display: block;
    }
  }

  & .content-rs17 {
    position: absolute;
    left: 76%;
    top: 31%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs17 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: 12px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs17 {
      display: block;
    }
  }

  & .content-rs18 {
    position: absolute;
    left: 24%;
    top: 67%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs18 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs18 {
      display: block;
    }
  }

  & .content-rs19 {
    position: absolute;
    left: 40%;
    top: 63%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs19 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs19 {
      display: block;
    }
  }

  & .content-rs20 {
    position: absolute;
    left: 53%;
    top: 62.5%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs20 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs20 {
      display: block;
    }
  }

  & .content-rs21 {
    position: absolute;
    left: 68%;
    top: 57%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs21 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs21 {
      display: block;
    }
  }

  & .content-rs22 {
    position: absolute;
    left: 78%;
    top: 51.5%;
    & img {
      height: 17px;
      width: 17px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-rs22 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: 12px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-rs22 {
      display: block;
    }
  }

  & .content-c1 {
    position: absolute;
    left: 12.5%;
    top: 83%;
    & img {
      height: 21px;
      width: 21px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-c1 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-c1 {
      display: block;
    }
  }

  & .content-c2 {
    position: absolute;
    left: 35.8%;
    top: 12%;
    & img {
      height: 21px;
      width: 21px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-c2 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: -84px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-c2 {
      display: block;
    }
  }

  & .content-c3 {
    position: absolute;
    left: 73%;
    top: 46%;
    & img {
      height: 21px;
      width: 21px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-c3 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: 12px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-c3 {
      display: block;
    }
  }

  & .content-sr1 {
    position: absolute;
    left: 73%;
    top: 40%;
    & img {
      height: 21px;
      width: 21px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
    & .popup-sr1 {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 100px;
      top: 12px;
      right: 12px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      & > h2 {
        font-size: 14px
      }
      & > h3 {
        font-size: 11px;
      }
    }
    &:hover > .popup-sr1 {
      display: block;
    }
  }

  .m1 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 13%;
    left: 38%;
    height: auto;
    width: auto;
    & > img {
      height: 35px;
      width: 35px;
      object-fit: cover;
    }
    & .cm1 {
      position: absolute;
      top: -30%;
      left: -35%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m2 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 16%;
    left: 45%;
    height: auto;
    width: auto;
    & > img {
      height: 35px;
      width: 35px;
      object-fit: cover;
    }
    & .cm2 {
      position: absolute;
      top: -30%;
      left: -35%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m3 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 22%;
    left: 52%;
    height: auto;
    width: auto;
    & > img {
      height: 35px;
      width: 35px;
      object-fit: cover;
    }
    & .cm3 {
      position: absolute;
      top: -30%;
      left: -35%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m4 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 31%;
    left: 72%;
    height: auto;
    width: auto;
    & > img {
      height: 35px;
      width: 35px;
      object-fit: cover;
    }
    & .cm4 {
      position: absolute;
      top: -30%;
      left: -37%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m5 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 36%;
    left: 67%;
    height: auto;
    width: auto;
    & > img {
      height: 30px;
      width: 30px;
      object-fit: cover;
    }
    & .cm5 {
      position: absolute;
      top: -44%;
      left: -53%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m6 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 38%;
    left: 72%;
    height: auto;
    width: auto;
    & > img {
      height: 30px;
      width: 30px;
      object-fit: cover;
    }
    & .cm6 {
      position: absolute;
      top: -44%;
      left: -53%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m7 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 51%;
    left: 80%;
    height: auto;
    width: auto;
    & > img {
      height: 30px;
      width: 30px;
      object-fit: cover;
    }
    & .cm7 {
      position: absolute;
      top: -44%;
      left: -53%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m8 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 55.5%;
    left: 91%;
    height: auto;
    width: auto;
    & > img {
      height: 30px;
      width: 30px;
      object-fit: cover;
    }
    & .cm8 {
      position: absolute;
      top: -44%;
      left: -53%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m9 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 79.5%;
    left: 11%;
    height: auto;
    width: auto;
    & > img {
      height: 30px;
      width: 30px;
      object-fit: cover;
    }
    & .cm9 {
      position: absolute;
      top: -44%;
      left: -53%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  .m10 {
    display: none;
    z-index: 20;
    position: absolute;
    top: 28%;
    left: 67%;
    height: auto;
    width: auto;
    & > img {
      height: 30px;
      width: 30px;
      object-fit: cover;
    }
    & .cm10 {
      position: absolute;
      top: -44%;
      left: -53%;
      height: 60px;
      width: 60px;
      object-fit: cover;
    }
  }

  @media (max-width: 666px) {
    display: table-row-group;
  }
}

