* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-map {
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 670px;
  z-index: 1;
}

.content-map .img-mapa {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .content-r1 {
  position: absolute;
  left: 52.8%;
  top: 22%;
}

.content-map .content-r1 img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.content-map .content-r1 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-r1 .popup1 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-r1 .popup1 > h2 {
  font-size: 14px;
}

.content-map .content-r1 .popup1 > h3 {
  font-size: 11px;
}

.content-map .content-r1:hover > .popup1 {
  display: block;
}

.content-map .content-r2 {
  position: absolute;
  left: 87.8%;
  top: 54%;
}

.content-map .content-r2 img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.content-map .content-r2 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-r2 .popup2 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: 12px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-r2 .popup2 > h2 {
  font-size: 14px;
}

.content-map .content-r2 .popup2 > h3 {
  font-size: 11px;
}

.content-map .content-r2:hover > .popup2 {
  display: block;
}

.content-map .content-r3 {
  position: absolute;
  left: 91.8%;
  top: 55%;
}

.content-map .content-r3 img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.content-map .content-r3 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-r3 .popup3 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: 12px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-r3 .popup3 > h2 {
  font-size: 14px;
}

.content-map .content-r3 .popup3 > h3 {
  font-size: 11px;
}

.content-map .content-r3:hover > .popup3 {
  display: block;
}

.content-map .content-r4 {
  position: absolute;
  left: 83.8%;
  top: 47%;
}

.content-map .content-r4 img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.content-map .content-r4 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-r4 .popup4 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: 12px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-r4 .popup4 > h2 {
  font-size: 14px;
}

.content-map .content-r4 .popup4 > h3 {
  font-size: 11px;
}

.content-map .content-r4:hover > .popup4 {
  display: block;
}

.content-map .content-r5 {
  position: absolute;
  left: 40.8%;
  top: 13%;
}

.content-map .content-r5 img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.content-map .content-r5 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-r5 .popup5 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-r5 .popup5 > h2 {
  font-size: 14px;
}

.content-map .content-r5 .popup5 > h3 {
  font-size: 11px;
}

.content-map .content-r5:hover > .popup5 {
  display: block;
}

.content-map .content-sc1 {
  position: absolute;
  left: 92.8%;
  top: 48%;
}

.content-map .content-sc1 img {
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.content-map .content-sc1 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-sc2 {
  position: absolute;
  left: 94.8%;
  top: 50%;
}

.content-map .content-sc2 img {
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.content-map .content-sc2 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs1 {
  position: absolute;
  left: 23.8%;
  top: 13%;
}

.content-map .content-rs1 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs1 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs1 .popup-rs1 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs1 .popup-rs1 > h2 {
  font-size: 14px;
}

.content-map .content-rs1 .popup-rs1 > h3 {
  font-size: 11px;
}

.content-map .content-rs1:hover > .popup-rs1 {
  display: block;
}

.content-map .content-rs2 {
  position: absolute;
  left: 40.8%;
  top: 26%;
}

.content-map .content-rs2 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs2 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs2 .popup-rs2 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs2 .popup-rs2 > h2 {
  font-size: 14px;
}

.content-map .content-rs2 .popup-rs2 > h3 {
  font-size: 11px;
}

.content-map .content-rs2:hover > .popup-rs2 {
  display: block;
}

.content-map .content-rs3 {
  position: absolute;
  left: 33%;
  top: 20%;
}

.content-map .content-rs3 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs3 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs3 .popup-rs3 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs3 .popup-rs3 > h2 {
  font-size: 14px;
}

.content-map .content-rs3 .popup-rs3 > h3 {
  font-size: 11px;
}

.content-map .content-rs3:hover > .popup-rs3 {
  display: block;
}

.content-map .content-rs4 {
  position: absolute;
  left: 33%;
  top: 38%;
}

.content-map .content-rs4 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs4 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs4 .popup-rs4 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs4 .popup-rs4 > h2 {
  font-size: 14px;
}

.content-map .content-rs4 .popup-rs4 > h3 {
  font-size: 11px;
}

.content-map .content-rs4:hover > .popup-rs4 {
  display: block;
}

.content-map .content-rs5 {
  position: absolute;
  left: 48%;
  top: 22%;
}

.content-map .content-rs5 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs5 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs5 .popup-rs5 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs5 .popup-rs5 > h2 {
  font-size: 14px;
}

.content-map .content-rs5 .popup-rs5 > h3 {
  font-size: 11px;
}

.content-map .content-rs5:hover > .popup-rs5 {
  display: block;
}

.content-map .content-rs6 {
  position: absolute;
  left: 47%;
  top: 40%;
}

.content-map .content-rs6 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs6 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs6 .popup-rs6 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs6 .popup-rs6 > h2 {
  font-size: 14px;
}

.content-map .content-rs6 .popup-rs6 > h3 {
  font-size: 11px;
}

.content-map .content-rs6:hover > .popup-rs6 {
  display: block;
}

.content-map .content-rs7 {
  position: absolute;
  left: 41%;
  top: 47%;
}

.content-map .content-rs7 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs7 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs7 .popup-rs7 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs7 .popup-rs7 > h2 {
  font-size: 14px;
}

.content-map .content-rs7 .popup-rs7 > h3 {
  font-size: 11px;
}

.content-map .content-rs7:hover > .popup-rs7 {
  display: block;
}

.content-map .content-rs8 {
  position: absolute;
  left: 53%;
  top: 38%;
}

.content-map .content-rs8 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs8 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs8 .popup-rs8 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs8 .popup-rs8 > h2 {
  font-size: 14px;
}

.content-map .content-rs8 .popup-rs8 > h3 {
  font-size: 11px;
}

.content-map .content-rs8:hover > .popup-rs8 {
  display: block;
}

.content-map .content-rs9 {
  position: absolute;
  left: 59%;
  top: 35%;
}

.content-map .content-rs9 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs9 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs9 .popup-rs9 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs9 .popup-rs9 > h2 {
  font-size: 14px;
}

.content-map .content-rs9 .popup-rs9 > h3 {
  font-size: 11px;
}

.content-map .content-rs9:hover > .popup-rs9 {
  display: block;
}

.content-map .content-rs10 {
  position: absolute;
  left: 64%;
  top: 47%;
}

.content-map .content-rs10 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs10 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs10 .popup-rs10 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs10 .popup-rs10 > h2 {
  font-size: 14px;
}

.content-map .content-rs10 .popup-rs10 > h3 {
  font-size: 11px;
}

.content-map .content-rs10:hover > .popup-rs10 {
  display: block;
}

.content-map .content-rs11 {
  position: absolute;
  left: 54%;
  top: 52%;
}

.content-map .content-rs11 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs11 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs11 .popup-rs11 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs11 .popup-rs11 > h2 {
  font-size: 14px;
}

.content-map .content-rs11 .popup-rs11 > h3 {
  font-size: 11px;
}

.content-map .content-rs11:hover > .popup-rs11 {
  display: block;
}

.content-map .content-rs12 {
  position: absolute;
  left: 58%;
  top: 25%;
}

.content-map .content-rs12 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs12 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs12 .popup-rs12 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs12 .popup-rs12 > h2 {
  font-size: 14px;
}

.content-map .content-rs12 .popup-rs12 > h3 {
  font-size: 11px;
}

.content-map .content-rs12:hover > .popup-rs12 {
  display: block;
}

.content-map .content-rs13 {
  position: absolute;
  left: 62%;
  top: 31%;
}

.content-map .content-rs13 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs13 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs13 .popup-rs13 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs13 .popup-rs13 > h2 {
  font-size: 14px;
}

.content-map .content-rs13 .popup-rs13 > h3 {
  font-size: 11px;
}

.content-map .content-rs13:hover > .popup-rs13 {
  display: block;
}

.content-map .content-rs14 {
  position: absolute;
  left: 65%;
  top: 26%;
}

.content-map .content-rs14 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs14 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs14 .popup-rs14 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs14 .popup-rs14 > h2 {
  font-size: 14px;
}

.content-map .content-rs14 .popup-rs14 > h3 {
  font-size: 11px;
}

.content-map .content-rs14:hover > .popup-rs14 {
  display: block;
}

.content-map .content-rs15 {
  position: absolute;
  left: 68%;
  top: 36%;
}

.content-map .content-rs15 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs15 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs15 .popup-rs15 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs15 .popup-rs15 > h2 {
  font-size: 14px;
}

.content-map .content-rs15 .popup-rs15 > h3 {
  font-size: 11px;
}

.content-map .content-rs15:hover > .popup-rs15 {
  display: block;
}

.content-map .content-rs16 {
  position: absolute;
  left: 72%;
  top: 33%;
}

.content-map .content-rs16 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs16 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs16 .popup-rs16 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs16 .popup-rs16 > h2 {
  font-size: 14px;
}

.content-map .content-rs16 .popup-rs16 > h3 {
  font-size: 11px;
}

.content-map .content-rs16:hover > .popup-rs16 {
  display: block;
}

.content-map .content-rs17 {
  position: absolute;
  left: 76%;
  top: 31%;
}

.content-map .content-rs17 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs17 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs17 .popup-rs17 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: 12px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs17 .popup-rs17 > h2 {
  font-size: 14px;
}

.content-map .content-rs17 .popup-rs17 > h3 {
  font-size: 11px;
}

.content-map .content-rs17:hover > .popup-rs17 {
  display: block;
}

.content-map .content-rs18 {
  position: absolute;
  left: 24%;
  top: 67%;
}

.content-map .content-rs18 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs18 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs18 .popup-rs18 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs18 .popup-rs18 > h2 {
  font-size: 14px;
}

.content-map .content-rs18 .popup-rs18 > h3 {
  font-size: 11px;
}

.content-map .content-rs18:hover > .popup-rs18 {
  display: block;
}

.content-map .content-rs19 {
  position: absolute;
  left: 40%;
  top: 63%;
}

.content-map .content-rs19 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs19 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs19 .popup-rs19 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs19 .popup-rs19 > h2 {
  font-size: 14px;
}

.content-map .content-rs19 .popup-rs19 > h3 {
  font-size: 11px;
}

.content-map .content-rs19:hover > .popup-rs19 {
  display: block;
}

.content-map .content-rs20 {
  position: absolute;
  left: 53%;
  top: 62.5%;
}

.content-map .content-rs20 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs20 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs20 .popup-rs20 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs20 .popup-rs20 > h2 {
  font-size: 14px;
}

.content-map .content-rs20 .popup-rs20 > h3 {
  font-size: 11px;
}

.content-map .content-rs20:hover > .popup-rs20 {
  display: block;
}

.content-map .content-rs21 {
  position: absolute;
  left: 68%;
  top: 57%;
}

.content-map .content-rs21 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs21 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs21 .popup-rs21 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs21 .popup-rs21 > h2 {
  font-size: 14px;
}

.content-map .content-rs21 .popup-rs21 > h3 {
  font-size: 11px;
}

.content-map .content-rs21:hover > .popup-rs21 {
  display: block;
}

.content-map .content-rs22 {
  position: absolute;
  left: 78%;
  top: 51.5%;
}

.content-map .content-rs22 img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.content-map .content-rs22 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-rs22 .popup-rs22 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: 12px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-rs22 .popup-rs22 > h2 {
  font-size: 14px;
}

.content-map .content-rs22 .popup-rs22 > h3 {
  font-size: 11px;
}

.content-map .content-rs22:hover > .popup-rs22 {
  display: block;
}

.content-map .content-c1 {
  position: absolute;
  left: 12.5%;
  top: 83%;
}

.content-map .content-c1 img {
  height: 21px;
  width: 21px;
  cursor: pointer;
}

.content-map .content-c1 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-c1 .popup-c1 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-c1 .popup-c1 > h2 {
  font-size: 14px;
}

.content-map .content-c1 .popup-c1 > h3 {
  font-size: 11px;
}

.content-map .content-c1:hover > .popup-c1 {
  display: block;
}

.content-map .content-c2 {
  position: absolute;
  left: 35.8%;
  top: 12%;
}

.content-map .content-c2 img {
  height: 21px;
  width: 21px;
  cursor: pointer;
}

.content-map .content-c2 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-c2 .popup-c2 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: -84px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-c2 .popup-c2 > h2 {
  font-size: 14px;
}

.content-map .content-c2 .popup-c2 > h3 {
  font-size: 11px;
}

.content-map .content-c2:hover > .popup-c2 {
  display: block;
}

.content-map .content-c3 {
  position: absolute;
  left: 73%;
  top: 46%;
}

.content-map .content-c3 img {
  height: 21px;
  width: 21px;
  cursor: pointer;
}

.content-map .content-c3 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-c3 .popup-c3 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: 12px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-c3 .popup-c3 > h2 {
  font-size: 14px;
}

.content-map .content-c3 .popup-c3 > h3 {
  font-size: 11px;
}

.content-map .content-c3:hover > .popup-c3 {
  display: block;
}

.content-map .content-sr1 {
  position: absolute;
  left: 73%;
  top: 40%;
}

.content-map .content-sr1 img {
  height: 21px;
  width: 21px;
  cursor: pointer;
}

.content-map .content-sr1 img:hover {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-map .content-sr1 .popup-sr1 {
  position: absolute;
  display: none;
  background-color: white;
  height: auto;
  padding: 5px 5px;
  width: 100px;
  top: 12px;
  right: 12px;
  z-index: 20;
  border-radius: 18px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-map .content-sr1 .popup-sr1 > h2 {
  font-size: 14px;
}

.content-map .content-sr1 .popup-sr1 > h3 {
  font-size: 11px;
}

.content-map .content-sr1:hover > .popup-sr1 {
  display: block;
}

.content-map .m1 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 13%;
  left: 38%;
  height: auto;
  width: auto;
}

.content-map .m1 > img {
  height: 35px;
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m1 .cm1 {
  position: absolute;
  top: -30%;
  left: -35%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m2 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 16%;
  left: 45%;
  height: auto;
  width: auto;
}

.content-map .m2 > img {
  height: 35px;
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m2 .cm2 {
  position: absolute;
  top: -30%;
  left: -35%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m3 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 22%;
  left: 52%;
  height: auto;
  width: auto;
}

.content-map .m3 > img {
  height: 35px;
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m3 .cm3 {
  position: absolute;
  top: -30%;
  left: -35%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m4 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 31%;
  left: 72%;
  height: auto;
  width: auto;
}

.content-map .m4 > img {
  height: 35px;
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m4 .cm4 {
  position: absolute;
  top: -30%;
  left: -37%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m5 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 36%;
  left: 67%;
  height: auto;
  width: auto;
}

.content-map .m5 > img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m5 .cm5 {
  position: absolute;
  top: -44%;
  left: -53%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m6 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 38%;
  left: 72%;
  height: auto;
  width: auto;
}

.content-map .m6 > img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m6 .cm6 {
  position: absolute;
  top: -44%;
  left: -53%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m7 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 51%;
  left: 80%;
  height: auto;
  width: auto;
}

.content-map .m7 > img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m7 .cm7 {
  position: absolute;
  top: -44%;
  left: -53%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m8 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 55.5%;
  left: 91%;
  height: auto;
  width: auto;
}

.content-map .m8 > img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m8 .cm8 {
  position: absolute;
  top: -44%;
  left: -53%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m9 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 79.5%;
  left: 11%;
  height: auto;
  width: auto;
}

.content-map .m9 > img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m9 .cm9 {
  position: absolute;
  top: -44%;
  left: -53%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m10 {
  display: none;
  z-index: 20;
  position: absolute;
  top: 28%;
  left: 67%;
  height: auto;
  width: auto;
}

.content-map .m10 > img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-map .m10 .cm10 {
  position: absolute;
  top: -44%;
  left: -53%;
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 666px) {
  .content-map {
    display: table-row-group;
  }
}
/*# sourceMappingURL=style.css.map */