* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100%;
}
.content-map {
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 500px;
  width: 670px;
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 5px;
    background-color: lightgray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: gray;
    
  }
  & .img-mapa {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .img-mapa-sinFondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  & .cont-orpio {
    position: absolute;
    top: 127px;
    left: 98px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio{
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 122px;
      top: 34px;
      right: -68px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.4s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
    }
  }
  & .cont-aidesep {
    position: absolute;
    bottom: 170px;
    left: 30px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 146px;
      top: -71px;
      right: -131px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.4s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
    }
  }
  & .cont-fecotyba {
    position: absolute;
    bottom: 44px;
    left: 55px;
    letter-spacing: -0.7px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 47px;
      right: -10px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
    }
  }
  & .cont-comunidades {
    position: absolute;
    bottom: 82px;
    left: 145px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 47px;
      right: -10px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
    }
  }
  & .cont-ffaa {
    position: absolute;
    bottom: 119px;
    left: 315px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 47px;
      right: -10px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
  }
  & .cont-iglesias {
    position: absolute;
    bottom: 170px;
    left: 222px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 47px;
      right: -10px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
    }
  }
  & .cont-devida {
    position: absolute;
    top: 37px;
    left: 214px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 47px;
      right: 0px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
  }
  & .cont-frepap {
    position: absolute;
    top: 167px;
    left: 271px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 47px;
      right: -10px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
  }
  & .cont-pnp {
    position: absolute;
    top: 65px;
    left: 321px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 47px;
      right: 10px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
    }
  }
  & .cont-alcaldia {
    position: absolute;
    top: 140px;
    right: 140px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 47px;
      right: -85px;
      z-index: 20;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
    }
  }
  & .cont-dirandro {
    position: absolute;
    top: 180px;
    right: 230px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 12px;
      right: 51px;
      z-index: 28;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
    }
  }
  & .cont-aeminpu {
    position: absolute;
    bottom: 147px;
    right: 200px;
    z-index: 10;
    text-align: center;
    & > .pop-orpio {
      position: absolute;
      display: none;
      background-color: white;
      height: auto;
      padding: 5px 5px;
      width: 150px;
      top: 30px;
      right: -135px;
      z-index: 28;
      border-radius: 18px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      & h6 {
        font-weight: bolder;
      }
    }
    &:hover > .pop-orpio {
      display: block;
    }
    & :hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.4s;
    }
    & h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
    }
  }
}


.icon-AEMINPU {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-aeminpu-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-AIDESEP {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-aidesep-rojo {
  height: 55px;
  width: 55px;
  display: none;
}
.icon-alcaldia {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-alcaldia-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-devida {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-devida-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-dirandro {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-dirandro-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-frepap {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-frepap-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-orpio {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-orpio-rojo {
  height: 55px;
  width: 55px;
  display: none;
}
.icon-pnp {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-pnp-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-iglesias {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-iglesias-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-ffaa {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-ffaa-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-comunidades {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-comunidades-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}
.icon-fecotyba {
  height: 55px;
  width: 55px;
  object-fit: cover;
}
.icon-fecotyba-rojo {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  display: none;
}





.flecha3 {
  position: absolute;
  top: 122px;
  left: -25px;
  display: none;
  width: 183px;
  height: 30px;
  transform: rotate(266deg);
  object-fit: cover;
}
.AIDESEP {
  position: absolute;
  top: 42px;
  left: 33px;
  display: none;
  width: 102px;
  height: 60px;
  transform: rotate(21deg);
  object-fit: cover;
}
.AIDESEP2 {
  position: absolute;
  top: -58px;
  left: -17px;
  display: none;
  width: 119px;
  height: 30px;
  transform: rotate(482deg);
  object-fit: cover;
}
.FECOTYBA {
  position: absolute;
  top: -42px;
  left: -1px;
  display: none;
  width: 66px;
  height: 33px;
  object-fit: cover;
  transform: rotate(232deg);
}
.FECOTYBA2 {
  position: absolute;
  top: -22px;
  left: 44px;
  display: none;
  width: 58px;
  height: 30px;
  transform: rotate(174deg);
  object-fit: cover;
}
.FFAA {
  position: absolute;
  bottom: 72px;
  left: 35px;
  display: none;
  width: 83px;
  height: 40px;
  object-fit: cover;
  transform: rotate(301deg);
}
.IGLESIAS {
  position: absolute;
  bottom: -55px;
  left: -28px;
  display: none;
  width: 90px;
  height: 45px;
  transform: rotate(320deg);
  object-fit: cover;
}
.DEVIDA {
  position: absolute;
  top: 3px;
  left: 14px;
  display: none;
  width: 300px;
  height: 51px;
  transform: rotate(206deg);
  object-fit: cover;
}
.DEVIDA2 {
  position: absolute;
  top: 154px;
  left: -150px;
  display: none;
  width: 266px;
  height: 62px;
  transform: rotate(90deg);
  object-fit: cover;
}
.FREPAP {
  position: absolute;
  top: 96px;
  left: 15px;
  display: none;
  width: 150px;
  height: 25px;
  transform: rotate(28deg);
  object-fit: cover;
}
.FREPAP2 {
  position: absolute;
  bottom: 63px;
  left: 18px;
  display: none;
  width: 208px;
  height: 21px;
  object-fit: cover;
  transform: rotate(177deg);
}
.PNP {
  position: absolute;
  top: 39px;
  left: 31px;
  display: none;
  width: 160px;
  height: 26px;
  transform: rotate(207deg);
  object-fit: cover;
}
.PNP2 {
  position: absolute;
  top: 139px;
  left: -86px;
  display: none;
  width: 210px;
  height: 29px;
  transform: rotate(91deg);
  object-fit: cover;
}
.DIRANDRO {
  position: absolute;
  bottom: 98px;
  left: -34px;
  display: none;
  width: 90px;
  height: 36px;
  transform: rotate(233deg);
  object-fit: cover;
}